* { 
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}


/* This is the navigation bar on top of the page CSS */
li, a, button {
  font-family: italic;
  font-weight:500;
  font-size:20px;
  color: #D4AF37;
  text-decoration:none;
  padding: 0 20px 0 0px;

}

header{ 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 70px 5%;
  height: 20px;
}

.odin-logo { 
  height: 120px;
  width: 120px;
  cursor: pointer;
  margin-right: auto;
}

nav { 
  order: 1;

}

.nav_links { 
  list-style: none;
}

.nav_links li { 
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
  color:aqua;
}

.cta{ 
  order: 2;
}

/* This is golden button CSS */

button { 
  padding: 9px 30px; 
  background-color: rgba(95, 97, 77, 0.8);
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left:20px;
}

button:hover{
  background-color:beige;
}

/* This is the container one and the placeholder CSS */

.div-one{ 
  align-items: center;
  background-color: #1F2937;
  padding:25px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.div-one div{
  align-items: center;
  padding: 20px;
}

.first-header{ 
  font-size: 48px;
  color: #D4AF37;
  font-weight: bold;  
  display:inline-table;
}

.first-header-subtext {
  font-size: 18px;
  color: #D4AF37;
  font-weight: bold;
  text-align: justify;
}

.future-picture {
  text-align: center;
  width: 500px;
  height: 200px;
  background-color: gray;
  padding: 10px;
}

.future-picture p {
  margin: 80px;
}

/* This is random item information */

.main-info {
  height: 500px;
  padding: 16px;
  gap: 32px;
  }
  
.boxes { 
    display: flex;
    justify-content:center;
    gap: 50px;
  }

.empty {
    width: 180px;
    height: 180px;
    border: 4px solid #3882F6;
    background: transparent !important;  /* //force website to background-color: ; */
    display: inline-block;
    vertical-align: top;
    text-align: right;
    border-radius: 1em;    
    margin: 40px;
}

.sub-t{
  font-size: 20px;
  display: flex;
  text-align: center
}

/* This is the quote's CSS */

.quote-layer { 
  height: 450px;
  background-color: #E5E7EB;
  padding: 35px;
  }

  .quote{ 
    margin:0;
    background-color: #1F2937;
    padding: 1em;
    border-radius: 1em;
    font-size: 36px;
    height:300px;
    margin:40px;
  }

  .quote figcaption {
    text-align: right;
    color: #E5E7EB;
  }
  .quote blockquote {
    margin: 1em;
    text-align: left;
    font-style: italic;
    color: #E5E7EB;
  }

/* Sign up CSS */
.action-time { 
height: 300px;
padding: 21px;
}

.action-box{ 
float:left;
padding-left:220px;
margin: 20px;
padding:0px;
}

.action-button{
  float: right;
  padding-right:260px;
  margin-right: 1em;
  margin: 20px;
}

.action-layer{
  background-color: #F5F5DC;
  padding: 1em;
  border-radius: 1em;
  font-size: 24px;
  height: 150px;
  margin:60px;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #1F2937;
  color: #F5F5DC;
}